<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.chopchop.dao.PetDao">

	<resultMap type="Member" id="MemberMap">
		<id column="member_id" property="memberNo" />
		<result column="post_no" property="postNo" />
		<result column="base_address" property="baseAddress" />
		<result column="detail_address" property="detailAddress" />
		<result column="email" property="email" />
		<result column="password" property="password" />
		<result column="photo" property="photo" />
		<result column="nickname" property="nickname" />
		<result column="tel" property="tel" />
	</resultMap>

	<resultMap type="Pet" id="PetMap">
		<id column="pet_id" property="petNo" />
		<result column="member_id" property="memberNo" />
		<result column="name" property="name" />
		<result column="created_date" property="createdDate" />
		<result column="register_no" property="registerNo" />
		<result column="age" property="age" />
		<result column="gender" property="gender" />
		<result column="file_path" property="filePath" />
		<result column="breed" property="breed" />
	</resultMap>

<insert id="insert" parameterType="Pet"> 
  insert into pet
  (
    member_id, 
    name, 
    created_date,
    register_no,
    age, 
    gender, 
    file_path,
    breed
  )
  values
  (
    #{memberNo},
    #{name},
    now(),
    #{registerNo},
    #{age},
    #{gender},
    #{filePath},
    #{breed}
  )
</insert>

	<select id="findAll" resultMap="PetMap">
		select * from pet
	</select>

	<select id="findBy" parameterType="int" resultMap="PetMap">
		select * from pet
		where pet_id=${petNo}
	</select>

	<update id="update" parameterType="Pet">
		update pet
		<set>
			<if test="registerNo != null">register_no=#{registerNo},</if>
			<if test="name != null">name=#{name},</if>
			<if test="filePath != null">file_path=#{filePath},</if>
			<if test="age != null">age=#{age},</if>
			<if test="gender != null">gender=#{gender},</if>
			<if test="breed != null">breed=#{breed}</if>
		</set>
		where pet_id = #{petNo}
	</update>

  
	<delete id="delete" parameterType="int">
		delete from pet
		where pet_id = #{pet.petNo}
	</delete>

	<select id="getPets" parameterType="int"
		resultMap="PetMap">
		select * from pet 
    where member_id = #{memberNo}
	</select>

</mapper>