/* :: 2.0 Import All CSS */
@import url(/node_modules/bootstrap/dis/css/bootstrap.min.css);
@import url(/css/common/nice-select.css);
/* :: 3.0 Base CSS */
/* * { */
/*   margin: 0; */
/*   padding: 0; } */


body {
	margin: 0;
	padding: 0;
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272727;
  line-height: 1.3;
  font-weight: 600; }

p {
  color: #7a7a7a;
  font-size: 14px;
  line-height: 2;
  font-weight: 500; }

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #000000;
  font-weight: 600;
  font-size: 16px; }

ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }

img {
  height: auto;
  max-width: 100%; }

/* :: 3.1.0 Spacing */
.mt-15 {
  margin-top: 15px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-50 {
  margin-right: 50px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

/* :: 3.2.0 Height */
.height-400 {
  height: 400px !important; }

.height-500 {
  height: 500px !important; }

.height-600 {
  height: 600px !important; }


.height-800 {
  height: 800px !important; }


h3 {
  position: relative;
  margin: 0 auto;
  top: 0;
  text-transform: uppercase;
  font-weight: 400;
  width: 100vw;
  text-align: center;
  font-size: 3vh;
  color: #ffffff;
  opacity: 0.75;
  animation: pulse 2.5s linear infinite; }



/* :: 3.7.0 bueno Button */
.bueno-btn {
  background-color: #b0c364;
  transition-duration: 500ms;
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px;
  height: 50px;
  color: #ffffff;
  border-radius: 0;
  padding: 0 30px;
  font-size: 14px;
  line-height: 50px;
  font-weight: 500;
  text-transform: capitalize; }
  .bueno-btn:hover, .bueno-btn:focus {
    font-size: 14px;
    font-weight: 500;
    background-color: #000000;
    color: #ffffff; }

.comment_area {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 50px; }
  .comment_area .comment-content .comment-author {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 51px;
    flex: 0 0 51px;
    min-width: 51px;
    margin-right: 20px;
    height: 51px;
    border-radius: 50%; }
    @media only screen and (max-width: 767px) {
      .comment_area .comment-content .comment-author {
        margin-right: 15px; } }
  .comment_area .comment-content .comment-meta {
    margin-bottom: 30px; }
    .comment_area .comment-content .comment-meta .post-author,
    .comment_area .comment-content .comment-meta .post-date,
    .comment_area .comment-content .comment-meta .reply {
      position: relative;
      z-index: 1;
      margin-bottom: 5px;
      display: inline-block;
      font-size: 14px;
      color: #272727;
      margin-right: 30px; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta .post-author,
        .comment_area .comment-content .comment-meta .post-date,
        .comment_area .comment-content .comment-meta .reply {
          font-size: 12px;
          margin-right: 15px; } }
      .comment_area .comment-content .comment-meta .post-author::after,
      .comment_area .comment-content .comment-meta .post-date::after,
      .comment_area .comment-content .comment-meta .reply::after {
        position: absolute;
        top: 0;
        right: -16px;
        content: '|';
        z-index: 1; }
        @media only screen and (max-width: 767px) {
          .comment_area .comment-content .comment-meta .post-author::after,
          .comment_area .comment-content .comment-meta .post-date::after,
          .comment_area .comment-content .comment-meta .reply::after {
            right: -8px; } }
      .comment_area .comment-content .comment-meta .post-author:hover,
      .comment_area .comment-content .comment-meta .post-date:hover,
      .comment_area .comment-content .comment-meta .reply:hover {
        color: #b0c364; }
    .comment_area .comment-content .comment-meta .reply {
      margin-right: 0; }
      .comment_area .comment-content .comment-meta .reply::after {
        display: none; }
    .comment_area .comment-content .comment-meta p {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 2;
      font-weight: 500; }
  .comment_area .single_comment_area {
    margin-bottom: 30px; }
    .comment_area .single_comment_area:last-of-type {
      margin-bottom: 0; }
  .comment_area .children .single_comment_area {
    margin-left: 50px;
    margin-top: 30px; }

/* :: 13.0 Contact Area CSS */
  .contact-content .contact-social-info a {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
    color: #000000; }

.contact-form-area .form-control {
  position: relative;
  z-index: 2;
  height: 54px;
  width: 100%;
  background-color: #ffffff;
  font-size: 12px;
  margin-bottom: 15px;
  border: 1px solid #dadfe5;
  border-bottom: 2px solid #dadfe5;
  border-radius: 0;
  padding: 15px 30px;
  font-weight: 500;
  color: #aeaeae;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  .contact-form-area .form-control:focus {
    box-shadow: none;
    border-bottom-color: #b0c364; }
.contact-form-area textarea.form-control {
  height: 100px; }
  
  a.chop-logo {
  font-weight: bold;
}
