
p {
  font-family: "Montserrat", sans-serif;
  color: #7a7a7a;
  font-size: 14px;
  line-height: 2;
  font-weight: 500; }

img {
  height: auto;
  max-width: 100%; }

/* :: 3.1.0 Spacing */
.mt-15 {
  margin-top: 15px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-50 {
  margin-right: 50px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

/* :: 3.2.0 Height */
.height-400 {
  height: 400px !important; }

.height-500 {
  height: 500px !important; }

.height-600 {
  height: 600px !important; }

.height-700 {
  height: 700px !important; }

.height-800 {
  height: 800px !important; }

/* :: 3.3.0 Section Padding */
.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0; }

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px; }

.section-padding-100-70 {
  padding-top: 100px;
  padding-bottom: 70px; }


.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }


.sidebar-area {
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .sidebar-area {
      margin-top: 70px; } }
  @media only screen and (max-width: 767px) {
    .sidebar-area {
      margin-top: 70px; } }

.single-widget-area {
  position: relative;
  z-index: 1; }
  .single-widget-area.author-widget .background-pattern {
    position: relative;
    z-index: 1;
    padding: 50px 30px 0;
    text-align: center; }
    .single-widget-area.author-widget .background-pattern .author-thumbnail {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      margin: 0 auto 30px; }
      .single-widget-area.author-widget .background-pattern .author-thumbnail img {
        border-radius: 50%; }
    .single-widget-area.author-widget .background-pattern p {
      font-size: 14px;
      margin-bottom: 0;
      padding-bottom: 25px; }
      .single-widget-area.author-widget .background-pattern p span {
        color: #272727; }