* {
  margin: 0;
  padding: 0;
}

/* body { */
/*  font-family: "Roboto", sans-serif; */
/* } */
ul, ol {
  margin: 0;
}

ul li, ol li {
  list-style: none;
}

img {
  height: auto;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20%;
}

.bg-transparent {
  background-color: transparent !important;
}

.header-area .top-header-area .top-social-info {
  position: relative;
  z-index: 1;
}

.header-area .top-header-area .top-social-info a {
  color: #ffffff;
  font-size: 14px;
  padding: 0 15px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-area .top-header-area .top-social-info a {
    padding: 0 10px;
  }
}

.classy-nav-container {
  position: relative;
  z-index: 100;
  background-color: #ffffff;
  /* sticky */
}

.classy-nav-container * {
  box-sizing: border-box;
}

.classy-nav-container a {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #232323;
  display: inline-block;
}

.classy-nav-container a:hover, .classy-nav-container a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #1abc9c;
}

.classy-nav-container.classy-sticky {
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}

.classy-nav-container.box-skins .classynav>ul>li {
  background-color: #1abc9c;
}

.classy-nav-container.box-skins .classynav>ul>li>a {
  color: #fff;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.classy-navbar {
  width: 100%;
  height: 70px;
  padding: 0.5em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.classy-navbar .nav-brand {
  font-size: 26px;
  font-weight: 500;
  color: #565656;
  display: inline-block;
  margin-right: 30px;
}

.classy-navbar .nav-brand:focus, .classy-navbar .nav-brand:hover {
  font-size: 26px;
  font-weight: 500;
}

.classynav ul li {
  display: inline-block;
  clear: both;
  position: inherit;
  z-index: 10;
}

.classynav ul li ul li {
  display: block;
}

.classynav ul li ul li a {
  padding: 0 20px;
}

.classynav ul li a {
  padding: 0 12px;
  display: block;
  height: 35px;
  font-size: 14px;
  line-height: 34px;
}

.classynav ul li .megamenu li a {
  padding: 0 12px;
}

.classynav ul li div.single-mega a {
  height: auto;
  line-height: 1;
}

/* Down Arrow Icon for Megamenu */
@font-face {
  font-family: 'classyfonts';
  src: url("../fonts/classy.eot?fftrrv");
  src: url("../fonts/classy.eot?fftrrv#iefix") format("embedded-opentype"),
    url("../fonts/classy.ttf?fftrrv") format("truetype"),
    url("../fonts/classy.woff?fftrrv") format("woff"),
    url("../fonts/classy.svg?fftrrv#classyfonts") format("svg");
  font-weight: normal;
  font-style: normal;
}

.classynav ul li.megamenu-item>a:after, .classynav ul li.has-down>a:after
  {
  font-family: 'classyfonts';
  content: "\e900";
  font-size: 12px;
  color: #000000;
  padding-left: 5px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.classynav ul li ul li.has-down>a::after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 3;
}

/* button css */
.classy-btn {
  position: relative;
  z-index: 1;
  min-width: 120px;
  padding: 0 25px;
  line-height: 42px;
  height: 42px;
  border: 1px solid #b0c364;
  border-radius: 50px;
  color: black !important;
  margin-left: 30px;
  text-align: center;
  border-radius: 50px;
}

.classy-btn:hover, .classy-btn:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
