@charset "UTF-8";

.profile-img {
	border-radius: 100%;
	width: 10rem;
	height: 10rem;
	box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
	height: 10rem;
	width: 10rem;
}

.image-text {
	margin: 4rem auto 2rem auto;
}

.myprofile-h1 {
	font-size: 24px;
	font-weight: 300;
	color: black;
	text-shadow: 1px 1px 2px #444444;
	margin: 0;
}

.myprofile-h3 {
	font-size: 24px;
	font-weight: 300;
	color: black;
	text-shadow: 1px 1px 2px #444444;
	margin: 0.5em 0 1em 0;
}

.myprofile-nickname {
	
}