@charset "UTF-8";

.imgThumb {
 width: 200px;
 height: 200px;
 object-fit: cover;
 margin: 5px 0;
}

.container {
 margin-bottom: 10px;
}

a {
color: #ffffff;
background: #b0c364;
font-size: 1.2em;
padding: 0.3em 0.5em;
margin-right: 0.1em;
}

/* a:hover {  */
/*   color: #b0c364 !important;  */
/*   text-decoration: underline ;  */
/* } */