
.imgThumb {
 width: 200px;
 height: 215px;
 object-fit: cover;
 margin: 5px 0 10px 0;
}
.pet-info { 
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0 auto; 
  width: 1100px !important; 
} 

.my-button {
  background-color: #b0c364 !important;  
  border-color: #b0c364 !important;
}

.modal-content {
  font-family: 'Nanum Gothic', sans-serif;
}

.container {
 margin-bottom: 10px;
}

.mInfo-span {
  float: right;
  font-size: 14px;
  font-weight: 600;
}

.mypage-tagA {
  font-size: inherit;
  color:#404040;
}

.mem-Row {
  font-family: 'Nanum Gothic', sans-serif;
  width: 1100px !important;
  margin: 0 !important;
}

.card-img {
  width: 200px !important;
  height: 215px !important;
  object-fit: cover !important;
}

.tagA {
  font-family: 'Nanum Gothic', sans-serif;
  color: #ffffff;
  background: #b0c364;
  font-size: 1.2em;
  padding: 0.3em 0.5em;
  margin-right: 0.1em;
}

.tagA:hover {
  background-color: red;
  color: white;
}

.change_btn {
  width: 115px;
  height: 40px;
  display: inline;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #b0c364;
  background-color: white;
  cursor: pointer;
  color: #b0c364;
}

.change_btn:hover {
  background-color: #b0c364;
  color: white;
}

.text-center {
  margin-top: 140px;
}

.memb-info {
  font-family: 'Nanum Gothic', sans-serif;
  width: 1100px !important;
  margin: 0 auto;
}

.mInfo {
  border-bottom: 2px solid #404040;
}
