<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.chopchop.dao.CartDao">

  <resultMap type="Cart" id="CartMap">
    <id column="cart_id" property="cartNo"/>
    <result column="member_id" property="memberNo"/>
    <result column="product_id" property="productNo"/>
    <result column="quantity" property="quantity"/>
    <result column="created_date" property="createdDate"/>
  </resultMap>

  <select id="findAll" resultMap="CartMap">
    select
      cart_id,
      member_id,
      product_id,
      quantity,
      created_date
    from 
      cart    
    order by cart_id desc
  </select>
  
  <select id="findBy" parameterType="int" resultMap="CartMap">
    select
      cart_id,
      member_id,
      product_id,
      quantity,
      created_date
    from
      cart
    where
      cart_id=#{value}
  </select>
  
  <insert id="insert" parameterType="Cart" useGeneratedKeys="true" keyColumn="cart_id" keyProperty="cartNo">
    insert into product(member_id, product_id, quantity, created_date)
    values(#{memberNo},#{productNo},#{quantity},#{createdDate}) 
  </insert>
  
  <update id="update" parameterType="Cart">
    update cart set
      cart_id=#{cartNo},
      member_id=#{memberNo},
      product_id=#{productNo},
      quantity=#{quantity},
      created_date=#{createdDate}
    where cart_id=#{cartNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from cart
    where cart_id=#{value}
  </delete>
</mapper>