/* :: 3.0 Base CSS */
* {
  margin: 0;
  padding: 0;
}

.bucket {
  background: #fff;
  width: 450px;
  margin: 50px auto;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
  border: 2px solid rgb(163, 182, 91);
}

.buffer {
  padding: 40px;
}

input {
  float: none;
  margin-bottom: 5px !important;
  border: 1px solid #ced4da;
  border-radius: 0 !important;
  padding: 12px 10px;
  width: 100%;
  color: #404040;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input.btn {
  background: rgb(163, 182, 91);
  color: #fff;
  padding: 10px;
  border-width: 1px;
}

input.btn:hover, input.btn:focus {
  background: black;
  color: #fff;
  padding: 10px;
  margin: 0px;
  border-width: 1px;
}

.logo-area {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  height: 200px;
  background: url('/img/core-img/choplogo.png') no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .logo-area {
    padding: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .logo-area {
    padding: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .logo-area {
    padding: 30px 15px;
  }
}

.logo-area a {
  display: inline-block;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .logo-area a {
    max-width: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .logo-area a {
    max-width: 50px;
  }
}