<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.chopchop.dao.PetDao">

	<resultMap type="Member" id="MemberMap">
		<id column="member_id" property="memberNo" />
		<result column="post_no" property="postNo" />
		<result column="base_address" property="baseAddress" />
		<result column="detail_address" property="detailAddress" />
		<result column="email" property="email" />
		<result column="password" property="password" />
		<result column="photo" property="photo" />
		<result column="nickname" property="nickname" />
		<result column="tel" property="tel" />
	</resultMap>
	
	<resultMap type="Pet" id="PetMap">
		<id column="pet_id" property="petNo" />
		<result column="member_id" property="memberNo" />
		<result column="name" property="name" />
		<result column="created_date" property="createdDate" />
		<result column="register_no" property="registerNo" />
		<result column="gender" property="gender" />
		<result column="age" property="age" />
		<result column="file_path" property="photo" />
		<collection resultMap="MemberMap" property="member"/>
	</resultMap>

	<resultMap type="Breed" id="BreedMap">
		<id column="breed_id" property="breedNo" />
		<result column="breed" property="breed" />
	</resultMap>

	<resultMap type="Pet" id="PetBreedMap">
		<id column="pet_id" property="petNo" />
		<result column="member_id" property="memberNo" /> 
		<result column="name" property="name" /> 
		<result column="created_date" property="createdDate" />
		<result column="register_no" property="registerNo" />
		<result column="gender" property="gender" />
		<result column="age" property="age" />
		<result column="file_path" property="photo" />

		<collection property="breeds" ofType="Breed">
			<id column="breed_id" property="breedNo" />
			<result column="breed" property="breed" />
		</collection>
	</resultMap>

	<sql id="basicColumn">
		select
		pet_id,
		name,
		breed,
		age,
		gender
	</sql>

	<insert id="insert" parameterType="Pet">
		insert into pet
		(
		name,
		age,
		register_no,
		gender,
		created_date
		)
		value
		(
		#{name},#{age},#{registerNo},#{gender},now())
	</insert>
	
	<select id="findAll" resultMap="PetMap">
		select * from pet
	</select>

	<select id="findBy" parameterType="int" resultMap="PetBreedMap">
		select
		p.pet_id,
		p.file_path,
		p.name,
		p.age,
		p.gender,
		p.register_no,
		p.created_date,
		p.breed_id,
		b.breed_id,
		b.breed
		from pet p
		left outer join
		breed b on p.breed_id=b.breed_id
		where p.pet_id=${petNo}
	</select>

	<update id="update" parameterType="Pet">
		update pet
		<set>
			<if test="name != null">name=#{name},</if>
			<if test="photo != null">photo=#{photo},</if>
			<if test="register_no != null">register_no=#{register_no},</if>
		</set>
		where pet_id = #{petNo}
	</update>

	<delete id="delete" parameterType="int">
		delete from pet
		where pet_id =
		#{pet.petNo}
	</delete>
</mapper>