<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.chopchop.dao.PhotoBoardDao">

  <resultMap type="Product" id="ProductMap">
    <id column="product_id" property="productNo"/>
    <result column="title" property="title"/>
    <result column="price" property="price"/>
    <result column="detail" property="detail"/>
    <result column="stock" property="stock"/>
    <result column="discount" property="discount"/>
  </resultMap>
  
  <resultMap type="PhotoBoard" id="PhotoBoardWithFilesMap">
    <id column="product_id" property="productNo"/>
    <result column="title" property="title"/>
    <result column="price" property="price"/>
    <result column="detail" property="detail"/>
    <result column="stock" property="stock"/>
    <result column="discount" property="discount"/>
    
    <!-- 자식 테이블의 데이터와 PhotoFile 객체 연결 -->
    <collection property="files" ofType="PhotoFile">
      <id column="photo_id" property="photoFileNo"/>
      <result column="title" property="filePath"/>
      <result column="product_id" property="productNo"/>
    </collection>
  </resultMap>
  
  <sql id="select1">
    select
      photo_id,
      titl,
      cdt,
      vw_cnt,
      lesson_id
    from 
      lms_photo 
  </sql>
  
  <select id="findAll" resultMap="PhotoBoardMap">
    <include refid="select1"/>
    order by 
      photo_id desc
  </select>
  
  <select id="findBy" parameterType="int" resultMap="PhotoBoardMap">
    <include refid="select1"/>
    where 
      photo_id=#{value}
  </select>
  
  <select id="findWithFilesBy" 
          parameterType="int" 
          resultMap="PhotoBoardWithFilesMap">
    select
      p.photo_id,
      p.titl,
      p.cdt,
      p.vw_cnt,
      p.lesson_id,
      f.photo_file_id,
      f.file_path
    from 
      lms_photo p 
        left outer join lms_photo_file f on p.photo_id=f.photo_id
    where 
      p.photo_id=#{value}
  </select>
  
  <update id="increaseViewCount" parameterType="int">
    update lms_photo set
      vw_cnt=vw_cnt + 1 
    where 
      photo_id=#{value}
  </update>
  
  <insert id="insert" 
          parameterType="PhotoBoard"
          useGeneratedKeys="true"
          keyColumn="photo_id"
          keyProperty="no">
    insert into lms_photo(lesson_id,titl)
    values(#{lessonNo},#{title})
  </insert>
  
  <update id="update" parameterType="PhotoBoard">
    update lms_photo set
      titl=#{title}
    where photo_id=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from lms_photo 
    where photo_id=#{no}
  </delete>

</mapper>