<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.chopchop.dao.ProductDao">

  <!-- 컬럼 이름과 자바 객체의 프로퍼티 이름을 연결한다. -->
  <resultMap type="Product" id="ProductMap">
    <id column="product_id" property="productNo"/>
  </resultMap>

  <select id="findAll" resultMap="ProductMap">
    select
      product_id,
      title,
      price,
      discount
    from
      product
    order by product_id desc
  </select>
  
  <select id="findBy" parameterType="int" resultMap="ProductMap">
    select
      product_id,
      title,
      price,
      detail,
      stock,
      discount
    from
      product
    where product_id=#{ohora}
  </select>
  
  <insert id="insert" parameterType="Product">
    insert into product(title,price,detail,stock,discount)
    values(#{title},#{price},#{detail},#{stock},#{discount})
  </insert>
  
  <update id="update" parameterType="Product">
    update product set
      title=#{title},
      price=#{price},
      detail=#{detail},
      stock=#{stock},
      discount=#{discount}
    where product_id=#{productNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from product
    where product_id=#{value}
  </delete>
</mapper>